<div>
  <div>
    <a href="http://manning.com/laddad2">
      <img src="/assets/AJIA2.jpg">
      <div>AspectJ in Action, 2nd Edition</div>
    </a>
  </div>

  <br/>

  <div>
    <a href="http://manning.com/laddad">
      <img src="/assets/AJIA1.jpg">
      <div>AspectJ in Action</div>
    </a>
  </div>

  <br/>

  <a class="twitter-timeline" height="500" href="https://twitter.com/ramnivas" data-widget-id="579827055094714368">Tweets by @ramnivas</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
